{% extends "base.html" %} {% load static %} {% block body %} {% if messages%}
<div class="card-cont">
  {% for m in messages %}
  <div class="message">{{ m }}</div>
  {% endfor %}
</div>
{% endif %}
<!-- Main -->
<div class="home-up">
  <div id="home-over" class="home-over"></div>
  <div class="home-left">
    <h1 class="home-header"><img src="{% static 'images/logo-big.png' %}" alt="" class="logo-big" style="width: 80px; margin-right: var(--space-mid);" />Marko<br />Obuca I odeca</h1>
    <p class="home-phar">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, autem perspiciatis ab consectetur hic sit ipsa? Dolore placeat labore totam!
    </p>
    <div class="btn-cont">
      <a href="{% url 'index' %}" class="btn btn-color">See our offer</a>
      <button class="btn see-offer">contact us</button>
    </div>
  </div>
  <div class="home-right">
    <img src="{% static 'images/e.jpg' %}" alt="" class="right-img" />
  </div>
</div>
<div class="home-down">
  <div class="cont">
    <div class="nike-cont"><i class="fa fa-check" aria-hidden="true"></i></div>
    <p class="down-phar">Lorem, ipsum.<br />dolor sit amet.</p>
  </div>
  <div class="cont">
    <div class="nike-cont"><i class="fa fa-check" aria-hidden="true"></i></div>
    <p class="down-phar">Lorem, ipsum.<br />dolor sit amet.</p>
  </div>
  <div class="cont">
    <div class="nike-cont"><i class="fa fa-check" aria-hidden="true"></i></div>
    <p class="down-phar">Lorem, ipsum.<br />dolor sit amet.</p>
  </div>
  <div class="cont">
    <div class="nike-cont"><i class="fa fa-check" aria-hidden="true"></i></div>
    <p class="down-phar">Lorem, ipsum.<br />dolor sit amet.</p>
  </div>
  <div class="cont">
    <div class="nike-cont"><i class="fa fa-check" aria-hidden="true"></i></div>
    <p class="down-phar">Lorem, ipsum.<br />dolor sit amet.</p>
  </div>
</div>
<!-- Main -->
{% endblock %}
