{% extends "base.html" %}
{% load static %}

{% block body %}
<div id="home-over" class="home-over"></div>
    {% if messages%}
    <div class="card-cont">
        {% for m in messages %}
        <div class="message">{{ m }}</div>
        {% endfor %}
    </div>
    {% endif %}
<!-- Main -->
    <!-- Card -->
    <div id="card-datails" class="card-details">
        <div class="card-left">
            <!-- Slike -->
            <div class="detail-img-cont">
                
                <img class="img-detail" src="{{ listing.image.url }}" alt="Shoe Image">
            </div>
            <!-- Slike -->
            
        </div>
        <div class="card-right">
            <div class="card-top">
                <h2 class="details-card-header">
                    {{ listing.title }}
                </h2>
            </div>
        <div class="card-body">
            <p class="phar big mb-12"><span class="bold">Address:</span>{{ listing.address }}</p>
            <p class="phar big mb-12"><span class="bold">Bathrooms:</span>{{ listing.bathrooms }}</p>
            <p class="phar big mb-12"><span class="bold">Bedrooms:</span>{{ listing.bedrooms }}</p>
            <p class="phar big mb-12"><span class="bold">Square Meters:</span>{{ listing.squares }}</p>
            <p class="phar opis mb-12"><span class="bold">Created:</span>{{ listing.created }}</p>
            <p class="phar opis mb-12"><span class="bold">Updated:</span>{{ listing.updated }}</p>
            <div class="cena-cont"><span class="cena-span">Price:</span><span class="cena bold">{{ listing.price }}€</span></div>
            {% if user.is_superuser %}
            <a href="{% url 'update_list' listing.id %}" class="btn btn-warnning mt-12 mb-12"">Update listing</a>
            <a href="{% url 'delete_list' listing.id %}" class="btn btn-danger mt-12 mb-12"  onclick="return confirm('Jesi li siguran');">Delete listing</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Card -->
<!-- Main -->
{% endblock %}